[run]
source = src
branch = True
omit =
    */__pycache__/*
    */tests/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
